.todo{
  max-width: 350px;
  margin: 3rem auto;
  height: 500px;
  background-image: linear-gradient(to right, rgb(8, 125, 148), rgb(5, 95, 114));
}

.todo{
  display: flex;
  flex-direction: column;
}

.todo{
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(202, 202, 202, 0.74);
}

.todo>h2{
  align-self: center;
  color: whitesmoke;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Audiowide', cursive;
}

.todo>form{
  align-self: center;
  display: flex;
  gap: 3px;
  align-items: center;
  margin-bottom: 1.5rem;
}

input{
  height: 25px;
  width: 225px;
  padding-left: 5px;
  color: whitesmoke;
  border-radius: 4px;
}

input{
  background: transparent;
  border: 2px solid gainsboro;
}

input:focus{
  background-color: rgba(14, 147, 173, 0.849);
  outline: none;
}


.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f0f0;
}

hr{
  border: 1px solid rgba(156, 156, 156, 0.473);
}

.task{
  padding: 8px;
  border-bottom: 1px solid rgba(156, 156, 156, 0.473);
}

.task p{
  overflow: hidden;
  white-space: nowrap;
}


.icon{
  height: 35px;
  cursor: pointer;
}

.icon2{
  height: 30px;
  cursor: pointer;
}

.icon-row{
  display: flex;
  gap: 3px;
  padding-left: 1rem;
}

.btn{
  background: none;
  border: 0;
}



.empty{
  color: #dadada;
  font-size: 24px;
  text-align: center;
  transform: translateY(100%);
  font-weight: bold;
}